<div class="card">
  <h2 class="card__title">Вход</h2>
  <form class="form">
    {{!-- {{>fieldset label="Логин" type="text" name="login"}}
    {{>fieldset label="Пароль" type="text" name="password"}}
    {{>button label="Авторизоваться" className="form__button"}}
    {{>link text="Нет аккаунта?" href="" centered=true}} --}}
    {{{button}}}
  </form>
</div>
