<div class="field-type-section">
   <span class="field-type"> {{this.fieldType}} </span>
</div>
<div class="field-value-section" {{this.fieldName}}">
   <span class="field-value"> {{this.fieldValue}} </span>
</div>
