<div class="image-section">
  <img name="avatar" src="../static/avatar_placeholder_profile.png" alt="avatar image"/>
</div>
<div class="name-section">
  <span class="user-name">{{username}}</span>
</div>
