.parcel-cache/
.idea/
.vscode/
node_modules/
netlify.toml
playground/
build

*.css
*.css.map

*.js
!.eslintrc.js
!stylelint.config.js
!config/**

*.log
*.txt

netlify.toml
package.copy.json
cspell.json
