<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chats</title>
    <link rel="stylesheet" href="../styles/chats_page.less" />
  </head>
  <body>
    <div class="chats-page">
      <div class="chats-list-container">
        <div class="header-section">
          <div class="search">
            <input type="text" placeholder="Поиск" />
          </div>
        </div>
        <ul class="chats-list">
          {{#each messages}}
            <li class="chat-field">
              <div class="avatar-section">
                <img
                  src="../static/avatar_placeholder_chats.svg"
                  alt="avatar image"
                />
              </div>
              <div class="message-section">
                <span class="message"> {{this}} </span>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="chat-container">
        <div class="header-section">
          <div class="avatar-section">
            <img
              src="../static/avatar_placeholder_chats.svg"
              alt="avatar image"
            />
          </div>
          <div class="info-section">
            <span class="contact-name">Contact Name</span>
          </div>
        </div>
        <div class="main-section">
          <h1 class="message-placeholder">CHATTING AREA</h1>
        </div>
        <div class="footer-section">
          <div class="attachment-button-section">
            <button class="attachment-button"></button>
          </div>
          <div class="message-input-section">
            <input type="text" name="message" placeholder="Сообщение" />
          </div>
          <div class="send-button-section">
            <button type="submit" class="send-button"></button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
