<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>404 Error</title>
  <link rel="stylesheet" href="../styles/error_page.less" />
</head>

<body>
<div class="error-container">
  {{> errorPageContent code=404 description="Страница не найдена"}}
</div>
</body>
</html>
