<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/authorization_form.less" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="sign-up-form-container">
      <h1 class="title">Регистрация</h1>
      <div class="form-fields">
        <div class="form-field">
          <input name="email" type="text" placeholder="Почта" />
        </div>
        <div class="form-field">
          <input name="login" type="text" placeholder="Логин" />
        </div>
        <div class="form-field">
          <input name="first_name" type="text" placeholder="Имя" />
        </div>
        <div class="form-field">
          <input name="second_name" type="text" placeholder="Фамилия" />
        </div>
        <div class="form-field">
          <input name="phone" type="text" placeholder="Телефон" />
        </div>
        <div class="form-field">
          <input name="password" type="text" placeholder="Пароль" />
        </div>
        <div class="form-field">
          <input name="password" type="text" placeholder="Пароль (ещё раз)" />
        </div>
      </div>
      <div class="form-buttons">
        <button class="confirm-button">Зарегистрироваться</button>
        <a name="Sign in" href="./sign_in.hbs">Войти</a>
      </div>
    </div>
  </body>
</html>
