<div class="error-code-section">
  <h1 class="error-code">{{code}}</h1>
</div>
<div class="error-description-section">
  <div class="error-description">{{description}}</div>
</div>
<div class="return-link-section">
  <a href="chats.hbs" class="return-link">Назад к чатам</a>
</div>
